# Base folder: remove binaries (should be compiled for given machine
base/star
base/src/*.o
base/make/*.o
base/src/*.mod
base/make/*.mod
base/src/*.smod
base/make/*.smod

# base_inlist should be modified (from template) for local path
base/base_inlist

# Run folder: whitelist lightcurves, inlists, movies, models, outputs
runs/**/*.*
runs/**/x*
runs/**/*000
!runs/**/*.pdf
!runs/**/*.pickle
!runs/**/inlist_folder/inlist*
!runs/**/movies/*.mp4
!runs/**/models/*.mod
!runs/**/terminal_outputs/*.txt

# python files not in dedicated scripts file are local only
*.py

# other
*.code-workspace
slurm*
*temp*

