# Base folder: remove binaries (should be compiled for given machine
base/star
base/src/*.o
base/make/*.o
base/src/*.mod
base/make/*.mod
base/src/*.smod
base/make/*.smod

# base_inlist should be modified (from template) for local path
base/base_inlist

# Run folder: whitelist lightcurves, inlists, movies, models, outputs
runs/**/*.*
runs/**/x*
runs/**/*000
!runs/**/*.pdf
!runs/**/*.pickle
!runs/**/inlist_folder/inlist*
!runs/**/movies/*.mp4
!runs/**/models/*.mod
!runs/**/terminal_outputs/*.txt
!runs/**/histories/*
!runs/info.md

# python files not in dedicated scripts file are local only
*.py
!python_scripts/*.py

# other
notes/
**/.DS_Store
python_scripts/__pycache__/
python_scripts/*testing.py
*.code-workspace
slurm*
*temp*
relax_tau_test/
