# Base folder: remove binaries (should be compiled for given machine)
base/star
base/src/*.o
base/make/*.o
base/src/*.mod
base/make/*.mod
base/src/*.smod
base/make/*.smod
base/old*

# base_inlist should be modified (from template) for local path
base/base_inlist

# python files not in dedicated scripts file are local only
*.py
!python_scripts/*.py

# other
notes/
nets/
**/.DS_Store
*.code-workspace
job_*
slurm*
*temp*
parallel_run_dir_list*
*bfg*

python_scripts/__pycache__/
python_scripts/*testing.py
python_scripts/analyze*
python_scripts/foo.py
python_scripts/find_k_to_remove.py
python_scripts/smooth_abundances.py
