# Ignore all
/*
!.gitignore

# Whitelist inlist folders in some select runs
!make_ignition_model*/
make_ignition_model*/*
!make_ignition_model*/inlist_folder/

!Schwarzschild*/
Schwarzschild*/*
!Schwarzschild*/inlist_folder/

!Ledoux*/
Ledoux*/*
!Ledoux*/inlist_folder/
